<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>867235253757-imtss02juc91hnssap1ova3sntgc6osg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.867235253757-imtss02juc91hnssap1ova3sntgc6osg</string>
	<key>API_KEY</key>
	<string>AIzaSyBlWiXlT1NZviFBbo4YV8aitmXEw7Cpmtk</string>
	<key>GCM_SENDER_ID</key>
	<string>867235253757</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>henry.MakePauUForReal</string>
	<key>PROJECT_ID</key>
	<string>runningmate-7c3f2</string>
	<key>STORAGE_BUCKET</key>
	<string>runningmate-7c3f2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:867235253757:ios:927ed9890941e6c8</string>
	<key>DATABASE_URL</key>
	<string>https://runningmate-7c3f2.firebaseio.com</string>
</dict>
</plist>